body{
   background-color: #473a8d;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   color: white;
   /* border: 1px solid red; */
}
h1{
    color: white;
}

.container{
    width: 200px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
}
.play_button{
    background-color: rgb(12, 178, 12);
    color: white;
    font-size: 20px;
    padding: 5px 20px 5px 20px ;
    width: 200px;
    border-radius: 25px;
}